

// Process Parameters:

// Process Parameters for Filter_Sequence_Quality_filter_seq_quality:
params.Filter_Sequence_Quality_filter_seq_quality.method =  "quality"  //* @dropdown @options:"quality, length, missing, maskqual" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.Filter_Sequence_Quality_filter_seq_quality.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Filter_Sequence_Quality_filter_seq_quality.q =  "20"  //* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.Filter_Sequence_Quality_filter_seq_quality.n_length =  "35"  //* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.Filter_Sequence_Quality_filter_seq_quality.n_missing =  "10"  //* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"
params.Filter_Sequence_Quality_filter_seq_quality.fasta =  "false"  //* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."

// Process Parameters for Mask_Primer_1_MaskPrimers:
params.Mask_Primer_1_MaskPrimers.method =  ["score"]  //* @dropdown @options:"score, align, extract" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."
params.Mask_Primer_1_MaskPrimers.barcode_field =  ["BARCODE"] //* @input @description:"Name of the annotation field containing the barcode name. Default BARCODE"
params.Mask_Primer_1_MaskPrimers.primer_field =  ["PRIMER"]  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.Mask_Primer_1_MaskPrimers.barcode =  ["false"]  //* @checkbox @description:"Check the box to remove the sequence preceding the extracted region and annotate the read with that sequence. Default false"
params.Mask_Primer_1_MaskPrimers.revpr =  ["false"]  //* @checkbox @description:"Check the box to activate revpr option. Default false." @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the <maxlen> argument, such that the search window begins at the tail-end of the sequence."
params.Mask_Primer_1_MaskPrimers.mode =  ["cut"]  //* @dropdown @options:"cut, mask, trim, tag" @description: "Which action to take with the primer sequence. Default cut." @tooltip:"The *cut* mode will remove both the primer region and the preceding sequence. The *mask* mode will replace the primer region with Ns and remove the preceding sequence. The *trim* mode will remove the region preceding the primer, but leave the primer region intact. The *tag* mode will leave the input sequence unmodified."
params.Mask_Primer_1_MaskPrimers.failed =  "false"  //* @checkbox @description:"Check the box to output the failed sequences. Default false"
params.Mask_Primer_1_MaskPrimers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.Mask_Primer_1_MaskPrimers.maxerror =  [0.2]  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.Mask_Primer_1_MaskPrimers.umi_length =  ["0"]  //* @input @description:"The UMI length. Default value 0." @tooltip:"In the score and extract methods, setting a  <umi_length> will be added to the set <start> primer position. Such that the primer will start at the end of the UMI."
params.Mask_Primer_1_MaskPrimers.start =  [0]  //* @input @description:"The starting position of the primer. Default 0"
params.Mask_Primer_1_MaskPrimers.extract_length =  ["0"]  //* @input @description:"The sequence length to extract, only applicable for method extract. Default value 0."
params.Mask_Primer_1_MaskPrimers.maxlen =  [50]  //* @input @description:"Length of the sequence window to scan for primers. Default value 50."
params.Mask_Primer_1_MaskPrimers.skiprc =  ["false"]  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"
params.Mask_Primer_1_MaskPrimers.R1_primers =  ''  //* @input @file @optional @description:"local path The primer file for R1"
params.Mask_Primer_1_MaskPrimers.R2_primers =  ''  //* @input @file @optional @description:"local path The primer file for R2"

// Process Parameters for Pair_Sequence_pre_consensus_pair_seq:
params.Pair_Sequence_pre_consensus_pair_seq.coord =  "sra"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description: "The format of the sequence identifier which defines shared coordinate information across mate pairs.Default sra (See https://presto.readthedocs.io/en/stable/workflows/Stern2014_Workflow.html for more details.)"
params.Pair_Sequence_pre_consensus_pair_seq.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,cat" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The collapse actions to take on all fields copied between files to combine duplicate fields into a single value. The actions <min>, <max>,<sum> perform the corresponding mathematical operation on numeric annotations. The action "set" collapses annotations into a comma delimited list of unique values. The action <cat> concatenates the values together into a single string. Only applies if the field already exists in the header before being copying from the other file."
params.Pair_Sequence_pre_consensus_pair_seq.copy_fields_1 =  ""  //* @input @description:"The annotation fields to copy from file 1 records into file 2 records.Default none" @tooltip:"If a copied annotation already exists in a file 2 record, then the annotations copied from file 1 will be added to the front of the existing annotation."
params.Pair_Sequence_pre_consensus_pair_seq.copy_fields_2 =  ""  //* @input @description:"The annotation fields to copy from file 2 records into file 1 records.Default none" @tooltip:"If a copied annotation already exists in a file 1 record, then the annotations copied from file 2 will be added to the front of the existing annotation."
params.Pair_Sequence_pre_consensus_pair_seq.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Pair_Sequence_pre_consensus_pair_seq.nproc =  "1"  //* @input @description: "Number of nproc to use for running FilterSeq. Default value 1."

// Process Parameters for Build_Consensus_build_consensus:
params.Build_Consensus_build_consensus.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"
params.Build_Consensus_build_consensus.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.Build_Consensus_build_consensus.barcode_field =  "BARCODE"  //* @input @description:"Position of description barcode field to group sequences by. Default BARCODE." @title:"Consensus generation copy fields and actions"
params.Build_Consensus_build_consensus.primer_field =  ""  //* @input @description:"Specifies the field name of the primer annotations. Default is none." @tooltip:"In most processing pipeline this parameter is set to PRIMER"
params.Build_Consensus_build_consensus.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,majority" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The actions “min”, “max”, “sum” perform the corresponding mathematical operation on numeric annotations. The action “set” combines annotations into a comma delimited list of unique values and adds an annotation named <FIELD>_COUNT specifying the count of each item in the set. The action “majority” assigns the most frequent annotation to the consensus annotation and adds an annotation named <FIELD>_FREQ specifying the frequency of the majority value."
params.Build_Consensus_build_consensus.copy_field =  ""  //* @input @description:"Specifies a set of additional annotation fields to copy into the consensus sequence annotations. Default None" @tooltip:"If an action is specified under the <act> paramter, a copy field is needed as well."
params.Build_Consensus_build_consensus.mincount =  1  //* @input @description:"The minimum number of sequences needed to define a valid consensus. Default is 1" @title:"Consensus generation groups params"
params.Build_Consensus_build_consensus.minqual =  0  //* @input @description:"Consensus quality score cut-off under which an ambiguous character is assigned. Default value 0." @tooltip:"Does not apply when quality scores are unavailable."
params.Build_Consensus_build_consensus.minfreq =  0.6  //* @input @description:"Fraction of character occurrences under which an ambiguous character is assigned. Default value 0.6."
params.Build_Consensus_build_consensus.maxerror =  "none"  //* @input @description:"Maximum allowable error rate. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to calculate the error rate of each read group (rate of mismatches from consensus) and remove groups exceeding the given error threshold. The error rate is calculated against the final consensus sequence, which may include masked positions due to the <minqual> and <minfreq> arguments and may have deleted positions due to the <maxgap> argument. Mutually exclusive with <maxdiv>."
params.Build_Consensus_build_consensus.prcons =  "none"  //* @input @description:"Minimum primer frequency required. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to define a minimum primer frequency required to assign a consensus primer, and filter out sequences with minority primers from the consensus building step."
params.Build_Consensus_build_consensus.maxgap =  "none"  //* @input @description:"A cut-off for the frequency allowed gao values for each position. Default is none (A numeric field from 0 to 1)." @tooltip:"If specified, this defines a cut-off for the frequency of allowed gap values for each position. Positions exceeding the threshold are deleted from the consensus. If not defined, positions are always retained. "
params.Build_Consensus_build_consensus.maxdiv =  "none"  //* @input @description:"Maximum allowable diversity rate. Default is none (A numeric field from 0 to 1)" @tooltip:"Specify to calculate the nucleotide diversity of each read group (average pairwise error rate) and remove groups exceeding the given diversity threshold. Diversity is calculate for all positions within the read group, ignoring any character filtering imposed by the <minqual>, <minfreq> and <maxgap> arguments. Mutually exclusive with <maxerror>."
params.Build_Consensus_build_consensus.dep =  "false"  //* @checkbox @description:"Check the box to calculate consensus quality with a non-independence assumption. Default false"

// Process Parameters for Pair_Sequence_post_consensus_pair_seq:
params.Pair_Sequence_post_consensus_pair_seq.coord =  "sra"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description: "The format of the sequence identifier which defines shared coordinate information across mate pairs.Default sra (See https://presto.readthedocs.io/en/stable/workflows/Stern2014_Workflow.html for more details.)"
params.Pair_Sequence_post_consensus_pair_seq.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,cat" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The collapse actions to take on all fields copied between files to combine duplicate fields into a single value. The actions <min>, <max>,<sum> perform the corresponding mathematical operation on numeric annotations. The action "set" collapses annotations into a comma delimited list of unique values. The action <cat> concatenates the values together into a single string. Only applies if the field already exists in the header before being copying from the other file."
params.Pair_Sequence_post_consensus_pair_seq.copy_fields_1 =  ""  //* @input @description:"The annotation fields to copy from file 1 records into file 2 records.Default none" @tooltip:"If a copied annotation already exists in a file 2 record, then the annotations copied from file 1 will be added to the front of the existing annotation."
params.Pair_Sequence_post_consensus_pair_seq.copy_fields_2 =  ""  //* @input @description:"The annotation fields to copy from file 2 records into file 1 records.Default none" @tooltip:"If a copied annotation already exists in a file 1 record, then the annotations copied from file 2 will be added to the front of the existing annotation."
params.Pair_Sequence_post_consensus_pair_seq.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Pair_Sequence_post_consensus_pair_seq.nproc =  "1"  //* @input @description: "Number of nproc to use for running FilterSeq. Default value 1."

// Process Parameters for Assemble_pairs_assemble_pairs:
params.Assemble_pairs_assemble_pairs.method =  "align"  //* @dropdown @options:"align, sequential, reference, join" @description:"Assembly method. Default align (See https://presto.readthedocs.io/ for more details.)"
params.Assemble_pairs_assemble_pairs.coord =  "presto"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description:"The format of the sequence identifier which defines shared coordinate information across mate pairs. Default presto" @title:"General params"
params.Assemble_pairs_assemble_pairs.rc =  "tail"  //* @dropdown @options:"tail, head, both, none" @description: "Specify which read to reverse complement before stitching. Default tail"
params.Assemble_pairs_assemble_pairs.head_fields_R1 =  "CONSCOUNT"  //* @input @description:"Annotation fields to copy from R1 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT"
params.Assemble_pairs_assemble_pairs.head_fields_R2 =  "CONSCOUNT PRCONS"  //* @input @description:"Annotation fields to copy from R2 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT PRCONS"
params.Assemble_pairs_assemble_pairs.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. Default false" @tooltip:"Specify to output the failed sequences as well."
params.Assemble_pairs_assemble_pairs.fasta =  "false"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"
params.Assemble_pairs_assemble_pairs.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Assemble_pairs_assemble_pairs.alpha =  0.00001  //* @input @description:"Significance threshold for de novo paired-end assembly. Default 1e-05" @title:"De novo assembly arguments"
params.Assemble_pairs_assemble_pairs.maxerror =  0.3  //* @input @description:"Maximum allowable error rate for de novo assembly. Default 0.3"
params.Assemble_pairs_assemble_pairs.minlen =  8  //* @input @description:"Minimum sequence length to scan for overlap in de novo assembly. Default 8"
params.Assemble_pairs_assemble_pairs.maxlen =  1000  //* @input @description:"Maximum sequence length to scan for overlap in de novo assembly. Default 1000"
params.Assemble_pairs_assemble_pairs.scanrev =  "false"  //* @checkbox @description:"If specified, scan past the end of the tail sequence in de novo assembly to allow the head sequence to overhang the end of the tail sequence. Default false"
params.Assemble_pairs_assemble_pairs.minident =  0.5  //* @input @description:"Minimum identity of the assembled sequence required to call a valid reference guided assembly (between 0 and 1). Default 0.5"
params.Assemble_pairs_assemble_pairs.evalue =   0.00001  //* @input @description:"Minimum E-value for reference alignment for both the head and tail sequence. Default 1e-05"
params.Assemble_pairs_assemble_pairs.maxhits =  100  //* @input @description:"Maximum number of hits from the reference alignment to check for matching head and tail sequence assignments. Default 100"
params.Assemble_pairs_assemble_pairs.fill =  "false"  //* @checkbox @description:"Check the box to change the behavior of inserted characters when the head and tail sequences do not overlap during reference guided assembly. Default: False" @tolltip:"If specified, this will result in inserted of the V region reference sequence instead of a sequence of Ns in the non-overlapping region. Warning: you could end up making chimeric sequences by using this option."
params.Assemble_pairs_assemble_pairs.aligner =  "blastn"  //* @dropdown @options:"blastn, usearch" @description:"The local alignment tool to use. Must be one blastn (blast+ nucleotide) or usearch (ublast algorithm). Default blastn"
params.Assemble_pairs_assemble_pairs.// align_exec =  ""   //* @input @description:"The name or location of the aligner executable file (blastn or usearch). Defaults to the name specified by the aligner argument. Default: None"
params.Assemble_pairs_assemble_pairs.// dbexec =  ""   //* @input @description:"The name or location of the executable file that builds the reference database. This defaults to makeblastdb when blastn is specified to the aligner argument, and usearch when usearch is specified. Default None"
params.Assemble_pairs_assemble_pairs.gap =  0  //* @input @description:"Number of N characters to place between ends. Default 0" @title:"join assembly arguments"
params.Assemble_pairs_assemble_pairs.usearch_version =  "11.0.667"  //* @input @description:"The usearch version to download and run. Default 11.0.667"
params.Assemble_pairs_assemble_pairs.assemble_reference =  ''   //* @file @optional @description:"local path The assemble_reference file"
params.Assemble_pairs_assemble_pairs.head_seqeunce_file =  "R1"  //* @dropdown @options:"R1, R2" @description:"file containing head/primary sequences"

// Process Parameters for Assemble_pairs_parse_log_AP:
params.Assemble_pairs_parse_log_AP.field_to_parse =  "ID REFID LENGTH OVERLAP GAP ERROR IDENTITY PVALUE EVALUE1 EVALUE2" //* @input @description:"List of fields to collect, the fields should be seperated by space. Default ID REFID LENGTH OVERLAP GAP ERROR IDENTITY" @tooltip:"The sequence identifier may be specified using the hidden field name <ID>."

// Process Parameters for Mask_Primer_2_MaskPrimers:
params.Mask_Primer_2_MaskPrimers.method =  ["score"]  //* @dropdown @options:"score, align, extract" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."
params.Mask_Primer_2_MaskPrimers.barcode_field =  ["BARCODE"] //* @input @description:"Name of the annotation field containing the barcode name. Default BARCODE"
params.Mask_Primer_2_MaskPrimers.primer_field =  ["PRIMER"]  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.Mask_Primer_2_MaskPrimers.barcode =  ["false"]  //* @checkbox @description:"Check the box to remove the sequence preceding the extracted region and annotate the read with that sequence. Default false"
params.Mask_Primer_2_MaskPrimers.revpr =  ["false"]  //* @checkbox @description:"Check the box to activate revpr option. Default false." @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the <maxlen> argument, such that the search window begins at the tail-end of the sequence."
params.Mask_Primer_2_MaskPrimers.mode =  ["cut"]  //* @dropdown @options:"cut, mask, trim, tag" @description: "Which action to take with the primer sequence. Default cut." @tooltip:"The *cut* mode will remove both the primer region and the preceding sequence. The *mask* mode will replace the primer region with Ns and remove the preceding sequence. The *trim* mode will remove the region preceding the primer, but leave the primer region intact. The *tag* mode will leave the input sequence unmodified."
params.Mask_Primer_2_MaskPrimers.failed =  "false"  //* @checkbox @description:"Check the box to output the failed sequences. Default false"
params.Mask_Primer_2_MaskPrimers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.Mask_Primer_2_MaskPrimers.maxerror =  [0.2]  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.Mask_Primer_2_MaskPrimers.umi_length =  ["0"]  //* @input @description:"The UMI length. Default value 0." @tooltip:"In the score and extract methods, setting a  <umi_length> will be added to the set <start> primer position. Such that the primer will start at the end of the UMI."
params.Mask_Primer_2_MaskPrimers.start =  [0]  //* @input @description:"The starting position of the primer. Default 0"
params.Mask_Primer_2_MaskPrimers.extract_length =  ["0"]  //* @input @description:"The sequence length to extract, only applicable for method extract. Default value 0."
params.Mask_Primer_2_MaskPrimers.maxlen =  [50]  //* @input @description:"Length of the sequence window to scan for primers. Default value 50."
params.Mask_Primer_2_MaskPrimers.skiprc =  ["false"]  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"
params.Mask_Primer_2_MaskPrimers.R1_primers =  ''  //* @input @file @optional @description:"local path The primer file for R1"
params.Mask_Primer_2_MaskPrimers.R2_primers =  ''  //* @input @file @optional @description:"local path The primer file for R2"

// Process Parameters for Parse_header_parse_headers:
params.Parse_header_parse_headers.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header_parse_headers.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header_parse_headers.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Process Parameters for collapse_sequences_collapse_seq:
params.collapse_sequences_collapse_seq.max_missing =  0  //* @input @description:"Maximum number of missing nucleotides to consider for collapsing sequences. A sequence will be considered undetermined if it contains too many missing nucleotides. Default is 0"
params.collapse_sequences_collapse_seq.inner =  "false"  //* @checkbox @description:"Exclude consecutive missing characters at either end of the sequence. Default is false."
params.collapse_sequences_collapse_seq.fasta =  "false"  //* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."
params.collapse_sequences_collapse_seq.act =  "none"  //* @dropdown @options:"none, min, max, sum, set" @description:"Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default none"
params.collapse_sequences_collapse_seq.uf =  ""  //* @input @description:"Specifies a set of annotation fields that must match for sequences to be considered duplicates. Default none"
params.collapse_sequences_collapse_seq.cf =  ""  //* @input @description:"Specifies a set of annotation fields to copy into the unique sequence output. Default none"
params.collapse_sequences_collapse_seq.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.collapse_sequences_collapse_seq.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"

// Process Parameters for split_sequences_split_seq:
params.split_sequences_split_seq.field =  "CONSCOUNT"  //* @input @description: "Annotation field to split sequence files by. Default CONSCOUNT. "
params.split_sequences_split_seq.num =  2  //* @input @description: "Specify to define the split field as numeric and group sequences by value. Default 2."

// Process Parameters for Parse_header_table_parse_headers:
params.Parse_header_table_parse_headers.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header_table_parse_headers.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header_table_parse_headers.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Process Parameters for metadata:
params.metadata.metadata =  ""  //* @input @description:"json file containing the tools and dockers"

// Pipeline Config:
$HOSTNAME='default'
//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "immcantation/suite:4.3.0"
    $DOCKER_OPTIONS = "-v /work:/work"

}

//* platform
if ($HOSTNAME == "ig03.lnx.biu.ac.il"){
    $DOCKER_IMAGE = "immcantation/suite:4.3.0"
    $DOCKER_OPTIONS = "-v /work:/work"
	$CPU  = 48
    $MEMORY = 300 
}
//* platform


//* autofill